// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
//$fa-font-path: '../webfonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import '~@fortawesome/fontawesome-free/scss/brands.scss';

$fa-font-path: '../fonts';
@import "~font-awesome/scss/font-awesome";


